<% provide(:title, 'About') %>
		<h1>About</h1>
		<p>Fire Trades was created by Austin Riba as a project to help
		learn a specific web framework, and possible provide something useful
		for his old man and everyone he works for.</p>
