<% provide(:title, 'About') %>
		<h1>About</h1>
		<p>One day my dad and I were driving to Daly City to see a movie at the Century 20, as we
		do often, and we were discussing the ups and downs of being a Firefigher. We talked about the 
		dispatch system, which houses had the best cooks (Station 2) and making trade shifts with other
		firefighers.</p>
		<p>"Wait, so if you want to make a trade and nobody in your house wants to take it you have to 
		<i>call around</i> to find someone to take it?"</p>
		<p>"Yup." he answered.</p>
		<p>This seemed like a simple problem that could be solved by technology. So I started to formulat the idea 
		behind FireTrades. I realized that firetrades could be a solution for any profession which operated similarly.</p>
		<p>So simply, Firetrades is a website that facilitates making shift trades for firefighters. But it doesnt just stop there.
		Classifieds are implemented, and plans to expand the site to other agencies are in the future.</p>
		<p>Stay tuned!</p>
		<p>-Austin Riba</p>
		
