<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>fdTrades</h1>
	<p>This is the home page for fdTrade</p>

	<%= link_to "Make a Trade!", signup_path, class: "btn btn-large btn-primary" %>
</div>
