<% provide(:title, "Sign in") %>
<div class="row">
		<p>Enter your email below. A link will be emailed to you which will contain instructions to reset your password.</p>
		<%= form_tag password_resets_path, :method => :post do %>
		  <div class="field">
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email], class: "input-xlarge" %>
		  </div>
		  <div class="actions"><%= submit_tag "Reset Password", class: "btn" %></div>
	<% end %>
</div>


