<%= provide(:title,@user.first + " " + @user.last) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= full_name(@user) %>
			</h1>
		</section>
	</aside>
</div>
<ul>
<%= @user.rank %>
</ul>
