<li>
	<span class="classified_description">
		<%= link_to classified.description, classified_path(classified) %>
	</span>

	<span class="timestamp">
		Available: 
		<% if DateTime.now > classified.date %>
			<%= distance_of_time_in_words_to_now(classified.date) %> ago.
		<% else %>
			In <%= distance_of_time_in_words_to_now(classified.date) %>.
		<% end %>
		(<%= classified.date %>) <br/>
		<hr/>
	</span>

</li>
