<h1 class="inline">Classifieds</h1>
<%= link_to "Post Classified", new_classified_path, class: "btn btn-large btn-primary", id: "classifieds_main_button" %>
<div id="classifieds">
	<% if @classifieds.any? %>
		<ul class="item_list">
				<%= render @classifieds %>
		</ul>
		
	<% else %>
		There are no classifieds
	<% end %>
</div>
