<footer class="footer">
  <small>
    <%= link_to "FdTrade", root_path %>
    by Austin Riba
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.austinriba.com/">Blog</a></li>
    </ul>
  </nav>
</footer>

